<html>
    <title>Form</title>
    <head>
        <style>
            form{font-family: "Trebuchet MS", Helvetica, sans-serif;text-align: center;font-size: large;}
            p{font-family: "Trebuchet MS", Helvetica, sans-serif;text-align: center;font-size: large;color: #c20808;font-weight: bold;}
            table{text-align: center;font-family: "Trebuchet MS", Helvetica, sans-serif;font-size: medium;}
        </style>
    </head>
    <body>

        <br>
        {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
        {% endfor %}
        <form action="{{ url_for('new_description_form') }}" method="POST">
            <label for="description" style="font-size: x-large;">Write the summary</label><br>
            <input type="text" id="description" name="description"><br>
            <label for="title">Movie ID:</label><br>
            <input type="text" id="description_movieid" name="description_movieid"><br>
            <input type="submit" value="Submit">
        </form>

        <table align="center">
            <thead class="thead-dark">
                <th><u>Movie ID</u></th>   
                <th scope="col"><u>Movie Title</u></th>
            <tbody> 

            {% for movie in movies %}
                <tr>
                    <td>{{movie.movieid}}</td>
                    <td>{{movie.title}}</td>
                </tbody>
            {% endfor %}
    </body>
</html>