{% extends "base.html" %}
        
            {% block content %}
            <table class="table table-hover table-striped">
                <thead clas="thead-dark">
                    <a href="http://127.0.0.1:5000/movie_form">Add new Movie</a>
                    <th>Movie ID</th>   
                    <th scope="col">Movie Title</th>
                </thead>

                <tbody> 
                {% for movie in movies %}
                
                    <tr>
                        <td>{{movie.movieid}}</td>
                        <td>{{movie.title}}</a></td>
                        
                    </tr>
                {% endfor %}
            {% endblock %}
                </tbody>
        </table>